/*vxe_grid配置文件*/

/*表头样式*/
:deep(.headerClass) {
  color: #646a73;
  font-weight: normal;
  padding-left: 10px;
  font-size: 0.23rem;
}

/*第一列表头样式*/
:deep(.firstheaderClass) {
  color: #646a73;
  font-weight: normal;
  padding-left: 20px;
}

/*单元格样式（不含表头）*/
:deep(.cellClass) {
  color: #000;
  font-size: 0.23rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}

/*时间单元格样式（不含表头）*/
:deep(.cellClass1) {
  color: #000;
  font-size: 0.22rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}

/*第一列单元格样式（不含表头）*/
:deep(.firstCellClass) {
  color: #000;
  font-size: 0.23rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* 装备状态颜色 */
::v-deep(.status-removed) {
  color: #f5222d; /* 红色：已出柜 */
  background-color: #fff1f0;
}
::v-deep(.status-not-installed) {
  color: #faad14; /* 黄色：未入柜 */
  background-color: #fffbe6;
}
::v-deep(.status-take-out) {
  color: #13c2c2; /* 青色：已取出 */
  background-color: #e6fffb;
}
::v-deep(.status-in-position) {
  color: #52c41a; /* 绿色：在位 */
  background-color: #f6ffed;
}
